<nav class="main-navigation">
    <div class="navbar-header animated fadeInUp">
        <a class="navbar-brand" href="#">Blog bootcamp <i class="fa fa-book"></i></a>
    </div>
    <ul class="nav-list">
            {% if user.is_authenticated %}
            <li class="nav-list-item" style="text-decoration:underline; font-weight:bold">Logged in as {{ user.username }}</li>
            <li class="nav-list-item">
                <a href="{% url 'home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-list-item">
                <a href="{% url 'about' %}" class="nav-link">About Us</a>
            </li>
            <li class="nav-list-item">
                <a href="{% url 'list-articles' %}" class="nav-link">Posts</a>
            </li>
            <li class="nav-list-item">
                <form method="post" action="{% url 'user:logout' %}">
                    {% csrf_token %}
                   <button type="submit" class="nav-link">Logout</button>
                </form>  
            </li><!----->
            {% else %}
            <li class="nav-list-item" style="font-weight:bold">Login or register to the website to get more features</li>
            <li class="nav-list-item">
                <a href="{% url 'user:login' %}" class="nav-link">Login</a>
            </li>
            {% endif %}
    </ul>
</nav>